.custom-bg {
    background: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252,1) 100%)!important;
}
.divider:after, .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

img {
    max-height: 100%;
}

.mapa {
    margin: 0;
    height: 600px;
    width: 600px;
}

#map {
    height: 500px;
    background-color: red;
    width: 100%;
}