{% extends 'base.html' %}
{% block content %}
<section class="vh-100 custom-bg">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 w-100 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h4 class="mb-3">Bienvenido {{games_list.user_name}}</h4>
                        <hr>
                        <div class="row justify-content-start my-4">
                            <div class="col-12">
                                <h5 class="mb-4">Lista de juegos</h5>
                                <table class="table table-hover">
                                    <thead class="thead-dark table-dark">
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Creador</th>
                                            <th scope="col">Número de caches</th>
                                            <th scope="col">Encontradas</th>
                                            <th scope="col">Restantes</th>
                                            <th scope="col">Usuarios activos</th>
                                            <th scope="col">Ganador</th>
                                        </tr>
                                    </thead>
                                    <tbody id="gameList">
                                        {% for game in games_list.games %}
                                        <tr>
                                            {% if game.active %}
                                                <th scope="row"><a href="/play?game={{game._id}}">{{game.name}}</a></th>
                                            {% else %}
                                                <th scope="row">{{game.name}}</th>
                                            {% endif %}
                                            <td>{{game.user_name}}</td>
                                            <td>{{game.number_caches}}</td>
                                            <td>{{game.number_caches_found}}</td>
                                            <td>{{game.number_caches_left}}</td>
                                            <td>{{game.active_users}}</td>
                                            <td>{{game.winner_name}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <hr>

                        <div class="row justify-content-start my-4">
                            <div class="col-12">
                                <h5 class="mb-4">Mis juegos</h5>
                                <table class="table table-hover">
                                    <thead class="thead-dark table-dark">
                                      <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Número de caches</th>
                                        <th scope="col">Encontradas</th>
                                        <th scope="col">Usuarios activos</th>
                                      </tr>
                                    </thead>
                                    <tbody id="myGameList">
                                        {% for game in games_list.my_games %}
                                        <tr>
                                            <th scope="row"><a href="/game?game={{game._id}}">{{game.name}}</a></th>
                                            <td>{{game.number_caches}}</td>
                                            <td>{{game.number_caches}}</td>
                                            <td>{{game.number_caches}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        

            
                        <hr class="my-4">
                        <a class="btn btn-lg btn-block btn-success" href="/create">Crear Juego</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
